@using SharedModels.Models;
@model List<Product>
@{
    ViewData["Title"] = "CatDetails";
}

<h1>Cat Details</h1>
<br />
<div class="row">
   <table class="table table-bordered">
       <thead>
           <tr>
               <th>Image</th>
               <th>Name</th>
               <th>Price</th>
               <th>Quantity</th>
               <th>Total Price</th>
               <th>Product Type</th>
               <th>Color</th>
               <th></th>
           </tr>
       </thead>
       <tbody>
           @foreach(var item in Model)
            {
           <tr>
               @{ var totalprice = (item.Price * item.Quantity); }
               <td>
                   <img src="~/@item.Image" style="width:200px; height:150px;" />
               </td>
               <td>@item.Name</td>
               <td>@item.Price</td>
               <td>@item.Quantity</td>
               <td>@totalprice</td>
               <td>@item.productType.ProdType</td>
               <td>@item.ProductColor</td>
               <td>
                   <a asp-area="Customer" asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" class="btn-danger">
                       <i class="fas fa-trash-alt"></i>
                   </a>
               </td>
           </tr>
            }
       </tbody>
   </table> 
</div>
<div class="row">
    <div class="col-6">
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Back to Home</a>
    </div>
    <div class="col-6 text-right">
        <h3>Grand Amount</h3>
        <h3>Kshs: @Model.Sum(x => x.Price * x.Quantity)</h3>
        <a asp-area="Customer" asp-action="CheckOut" asp-controller="Order" class="btn btn-info">Proceed to CheckOut</a>
    </div>

</div>
